* {
  background-color: rgba(250, 235, 215, 0.637);
  text-align: center;
}
h1 {
  color: rgb(0, 0, 0, 0.75);
}
.red {
  color: rgba(255, 0, 0, 0.774);
}
.p {
  color: purple;
}
.u {
  color: royalblue;
}
.font {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 3px solid blue;
  height: auto;
  width: fit-content;
  padding: 5px;
  margin: auto;
  border-radius: 10%;
}
dt {
  font-style: oblique;
  font-weight: bold;
  text-decoration: underline;
}
.button:hover {
  background-color: gray;
}
th,
td {
  border: 1px solid red;
  padding: 10px;
}
table {
  border-collapse: collapse;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
